.Container1 {
  /* position: relative; */
  width: 100%;
}

.Container2 {
  position: relative;
  width: 100%;

  padding-bottom: 50px;
  /* background-image: url(./images/Component_2.svg); */
  background-size: 100%, contain;
  background-repeat: no-repeat;
  background-position: 0 -56px;
}

.bgColor {
  position: absolute;
  background-color: #f5f6fb;
  background-image: url(../MainContainer/images/Component_3.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 20px 28px;

  width: 100%;
  height: 526px;

  border-bottom-left-radius: 130px;
}

.bgColor2 {
  position: absolute;
  background-color: #f5f6fb;

  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 20px 28px;

  width: 100%;
  height: 526px;

  border-bottom-left-radius: 130px;
}

.Fon {
  position: absolute;
  max-height: 582px;
}
.FonNuts {
  position: absolute;
  top: 0;
  height: auto;
}
.Nutsmini {
  position: absolute;
  left: 230px;
  bottom: 50px;
  width: 183px;
  height: 142px;
}
.LogoKapusta {
  position: relative;
  width: 377px;
  height: 139px;
}
/* .FonNutsInAuth {
  bottom: 0;
  height: auto;
} */

.innerWrapperForm {
  /* position: absolute; */
  max-width: 960px;
  height: 552px;
  margin-top: 117px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%); */
  margin-left: auto;
  margin-right: auto;
}
