.Container {
  position: relative;
  width: 100%;
  height: 100vh;
  padding-bottom: 50px;
}
.Fon {
  position: absolute;
  max-height: 582px;
}
.FonNuts {
  position: absolute;
  top: 0;
  height: auto;
}
.Nutsmini {
  position: absolute;
  left: 230px;
  top: 602px;
  width: 183px;
  height: 142px;
}
.LogoKapusta {
  position: absolute;
  left: 230px;
  width: 377px;
  height: 139px;
  top: 308px;
}
.FonNutsInAuth {
  position: absolute;
  bottom: 0;
  height: auto;
}
