.spend_stat {
	display: flex;
	flex-direction: column;
  align-items: center;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 40px;
}

.spend_statTextBig {
	padding: 0px 10px;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.1;
	color: #000000;
}

.spend_statSvg {
	height: 10px;
	width: 4px;
}

.spend_stathUse {
	height: 10px;
	width: 4px;
}

.list_spend {
	margin-top: 0px;
}
.item_spend {
	display: flex;
	flex-direction: column;
  align-items: center;
	list-style: none;
	height: 106px;
	max-width: 102px;
	width: auto;
}
.item_statSvg {

}

.item_stathUse {

}

.item_text {
	font-weight: 400;
	font-size: 12px;
	line-height: 1.1;
	color: #52555F;
}
.spend_statPosition {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}
