.chartWrapper {
  position: relative;
  z-index: 1000;
  max-width: 1034px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;

  background-color: rgb(251, 251, 251);
  box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
}

.chartContainer {
  max-width: 760px;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.chartWrapperMobile {
  position: relative;
  z-index: 1000;
  max-width: 1034px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;

  background-color: rgb(251, 251, 251);
  box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
}

.chartContainerMobile {
  max-width: 760px;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
