.form {
  margin: 0 auto;
  margin-bottom: 60px;
  /* font-family: 'Roboto';
  font-style: normal; */
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  background-color: white;
  max-width: 1115px;
}
.select_lib{
  color: #fa6b12;
  
}
.description {
  color: #c7ccdc;
  padding-left: 20px;
  height: 44px;
  width: 290px;
  border: 2px solid #f6f7fc;
  border-radius: 16px 0px 0px 0px;
}
.description:focus {
  background-color: #f8faff;
  outline: 1px solid#e2e4ed;
}

.selected {
  padding-left: 20px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  color: #c7ccdc;
  height: 44px;
  width: 170px;
  border-top: 2px solid #f5f6fb;
  border-bottom: 2px solid #f5f6fb;
  border-radius: 0px;
  border-left: 0;
  border-right: 0;
}

/* .selected::after{
    fill: red;
    content: '';
    /* position: absolute; */
/* left: 0;
    top: 0;
    background-image: url('../../images/svg-icon-project/symbol-defs.svg#icon-arrow-to-down'); */
/* } */
.selected:focus {
  background-color: #f8faff;
  outline: 1px solid#e2e4ed;
}
.amount {
  /* position: relative; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #c7ccdc;
  width: 120px;
  padding-left: 40px;
  height: 44px;
  border: 2px solid #f6f7fc;
  border-radius: 0px 16px 16px 0px;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.amount:focus {
  background-color: #f8faff;
  outline: 1px solid#e2e4ed;
  /* outline: none; */
}

.placeholder {
  color: red;
  font-size: 15px;
  border: 2px solid #f6f7fc;
  height: 25px;
}
.placeholder:hover {
  background-color: #ff751d;
}

.placeholder::selection {
  background-color: orange;
  margin: 3px 0;
  font-size: 15px;
}

.inputBtn {
  padding-bottom: 12px;
  margin-left: 200px;
  padding-left: 50px;
  padding-top: 12px;
  padding-right: 50px;

  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;

  height: 44px;
  width: 136px;
  border: 2px solid #f6f7fc;
  border-radius: 16px;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  /* padding: 17px 37px; */
  /* background: white; */
  border-radius: 16px;

  background-color: #ff751d;
  margin-left: 32px;

  transition: 0.3s;
}
.inputBtn:hover {
  color: white;
  background-color: #fa6b12;
  border: 2px solid;
}
.clearBtn {
  padding-bottom: 12px;
  margin-left: 200px;
  padding-left: 50px;
  padding-top: 12px;
  padding-right: 50px;

  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  height: 44px;
  width: 136px;
  border: 2px solid #f6f7fc;
  border-radius: 16px;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  /* padding: 17px 37px; */
  background: white;
  border-radius: 16px;
  margin-left: 16px;

  transition: 0.3s;
}
.clearBtn:hover {
  color: #52555f;
  background-color: #f6f7fc;
}

.icon {
  position: absolute;
  top: 16px;
  right: 16px;
  pointer-events: none;
  z-index: 1;
}
.icon :hover {
  fill: #ff751d;
}
.iconCalendar {
  position: absolute;
  top: 11px;
  left: 0px;
  pointer-events: none;
  z-index: 1;
}
.iconCalculator {
  position: absolute;
  top: 13px;
  right: 10px;
  pointer-events: none;
  z-index: 1;
}

.wrapper {
  position: relative;
}

.errorMessage {
  color: #eb5757;
  position: absolute;
  top: 50px;
  left: 10px;
  display: block;
}
.label {
  position: relative;
}

.date {
  color: #52555f;
  padding-left: 32px;
  height: 44px;
  width: 120px;
  border: none;
  border-radius: 16px;

  cursor: pointer;
}
.date:focus {
  /* background-color: #f8faff; */
  outline: none;
}
