@media (min-width: 1280px) {
  .btn__container {
    position: absolute;
    top: -160px;
    right: 20px;
    width: 30px;
    height: 30px;
    z-index: 100;
  }
  .team__icon {
    z-index: 300;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
      rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
      rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    background-color: transparent;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  /* btn */
  .btn__container {
    position: absolute;
    top: -125px;
    right: 20px;
    width: 30px;
    height: 30px;
    z-index: 100;
  }
  .team__icon {
    z-index: 300;
    width: 35px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
      rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
      rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    background-color: transparent;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  /* btn */
  .btn__container {
    position: absolute;
    top: -130px;
    right: 10px;
    width: 30px;
    height: 30px;
    z-index: 100;
  }
  .team__icon {
    z-index: 300;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
      rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
      rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    background-color: transparent;
  }
}
