@media (min-width: 1280px) {
  .btn__container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
  }
  .team__icon {
    width: 37px;
    border-radius: 50%;
    background-color: transparent;
    animation: rotate 2s linear infinite;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  /* btn */
  .btn__container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    z-index: 100;
  }
  .team__icon {
    z-index: 300;
    width: 35px;
    border-radius: 50%;
    animation: rotate 2s linear infinite;
    background-color: transparent;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  /* btn */
  .btn__container {
    position: fixed;
    bottom: 500px;
    right: 10px;
    width: 30px;
    height: 30px;
    z-index: 100;
  }
  .team__icon {
    z-index: 300;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 50%;

    background-color: transparent;
    animation: rotate 2s linear infinite;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
    box-shadow: 0 0 0 0 #ff751d;
  }

  33% {
    transform: rotate(90deg);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
  66% {
    transform: rotate(180deg);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: rotate(360deg);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
