@media (min-width: 1280px) {
  .btn__container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
  }
  .team__icon {
    width: 37px;
    border-radius: 50%;
    background-color: transparent;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  /* btn */
  .btn__container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    z-index: 100;
  }
  .team__icon {
    z-index: 300;
    width: 35px;
    border-radius: 50%;

    background-color: transparent;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  /* btn */
  .btn__container {
    position: fixed;
    bottom: 20px;
    right: 10px;
    width: 30px;
    height: 30px;
    z-index: 100;
  }
  .team__icon {
    z-index: 300;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 50%;

    background-color: transparent;
  }
}
