.link_report {
  text-decoration: none;
  color: #52555f;
  font-family: Roboto;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;

  letter-spacing: 0.2;
  display: flex;
  align-items: baseline;
  gap: 10px;
  position: absolute;

  right: 7.5%;
  top: 51px;
  transition: 0.3s;
}
.diagramsvg {
  fill: currentColor;

  transition: 0.3s;
}

.link_report:hover .diagramsvg {
  fill: var(--accent-color);
}
