.form {
  background-image: url(../../images/background/bkgd_desktop.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  /* padding-top: 40px; */
  /* padding-bottom: 48px; */
}
.label {
  display: flex;
  color: #52555f;
  font-family: Roboto;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-align: center;
  align-items: center;
}
.inputWraper {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  margin-left: 20px;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 16px;
  width: 125px;
  color: rgba(0, 0, 0, 1);
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
}
.input {
  border: none;
  background-color: transparent;
  width: 70px;
  padding-top: 12px;
  padding-bottom: 12px;

  outline: none;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
}
/* 
.label::after {
  content: 'UAH';
  text-align: center;
  left: 30px;
  color: #000000;
} */

.button {
  background-color: transparent;
  width: 125px;

  border: 2px solid #ffffff;
  border-radius: 16px;
  color: #52555f;

  font-size: 12px;
  line-height: 1.17;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 6px;
  padding-right: 6px;
  margin-left: 16px;

  transition: 0.3s;
}

/* .button:hover {
  color: #ffffff;
  background-color: #ed7200;
  border: 2px solid #ed7200;
}
.button:disabled {
  background-color: #52555f;
  color: #ffffff;
} */

.button:hover:enabled {
  color: white;
  cursor: pointer;
  background-color: #fa6b12;
  border: 2px solid;
}
.button:disabled {
  cursor: auto;
  background-color: #f2f5fc;

  color: #bcbec5;
}
