.yesBtn,
.noBtn {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
}
.yesbtn:hover,
.nobtn:hover {
  color: #ffffff;
  background-color: #ff751d;
  transition: 0.4s;
}
